<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @candidato.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidato.email %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @candidato.contacto %>
</p>

<p>
  <strong>Morada:</strong>
  <%= @candidato.morada %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @candidato.cv_file_name %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @candidato.mensagem %>
</p>

<%= link_to 'Edit', edit_candidato_path(@candidato) %> |
<%= link_to 'Back', candidatos_path %>
